# STILL TO RUN AFTER VERIFYING THAT THE SCRIPTS MADE TO CHECK WHICH JOBS FAILED DO SO CORRECTLY

[DEFAULT]

[FILE_IO]
# define directories where radar files live, where to save the cvp files and where to put the log file
#LOG_OUTPUT = /gws/smf/j07/ncas_radar/jcrook/my_CVPs/uk-nimrod/VP_Extraction_output/CVP_Done.txt
DATA_INPUT = /gws/ssde/j25a/ncas_radar/vol2/avocet/ukmo-nimrod/raw_h5_data_final/single-site/chenies/%Y/
#DATA_OUTPUT = /gws/smf/j07/ncas_radar/jcrook/my_CVPs/uk-nimrod/chenies/
#DATA_OUTPUT = /gws/ssde/j25a/ncas_radar/vol3/TM_VP_Extraction_Outputs/Luton_Airport_Test/
#LOG_OUTPUT = /home/users/tommy/VP_extraction_top/outputs/Luton_Airport_Output.txt
DATA_OUTPUT = /gws/ssde/j25a/ncas_radar/vol1/reuben/harpenden_2.5_data/
LOG_OUTPUT =  /home/users/bs21rocb/VP_Extraction_Out/CVP_Done.txt

[CVP_SETTINGS]
column_type = cartesian
PROFILE_TYPE = CVP
MET_OFFICE = True
# define which CVPs we want to create
COL_RADIUS = 2.5
MAX_RADIUS = 30.0
MIN_H = 0
MAX_H = 2000
H_STEP = 200

[CVP_parameters]
x_size = 5000
y_size = 5000

# set CREATE_CVP_GRID = True to make all the CVPs in a grid
[CVP_LOCATIONS]
CREATE_CVP_GRID = False

[SPECIFIC_CVPS]
# lat lon name - add multiple entries to create multiple user-specified CVPs
harpenden = 51.808559 -0.371492 harpenden

[FIELD_LIST]
f1 = reflectivity
f2 = velocity
f3 = differential_reflectivity
f4 = cross_correlation_ratio
f5 = differential_phase

[logarithmic_fields_list]
f1 = reflectivity